<h1>TwoEat一覧</h1>

<table>
  <tr>
    <th>TwoEat</th>
  </tr>

  <%= form_with(model: Post.new, local: true) do |form| %>
    <tr>
      <tb><%= post.content %></tb>
    </tr>
  <% end %>
</table>

<%= link_to 'とぅぶやく', new_post_path %>
