<header>
  <h1>TwoEat</h1>
</header>

<h1>TwoEat詳細</h1>
<p>とぅぶやき: <%= @post.content %></p>

<br>
<%= link_to 'TwoEat一覧', posts_path %>

<footer>
  <h6><%= link_to "TwoEat", posts_path %></h6>
</footer>
